{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <section class="panel">
                <header class="panel-heading">
                    NOVO REGISTRO
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;" onclick="resetForm('formImgVideo')"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">

                    <form role="form" id="formImgVideo" enctype="multipart/form-data">


                        <div class="form-group">
                            <label for="txtPage">Galeria</label>
                            <select class="form-control  select2" id="txtPage" name="txtGaleria">
                                <option value="">Selecione uma opção</option>
                                {% for gallery in data.galleries %}
                                    <option value="{{ gallery.id }}">{{ gallery.description }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="txtTipo">Tipo</label>
                            <select class="form-control select" id="txtTipo">
                                    <option value="IMAGEM">IMAGEM</option>
                                    <option value="VIDEO">V&Iacute;DEO</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="menu">Descri&ccedil;&atilde;o</label>
                            <input type="text" class="form-control" id="menu" placeholder="Informe uma descrição para imagem/vídeo">
                        </div>

                        <div class="form-group row gal-upload">
                            <label class="col-lg-12 control-label">Upload Image</label>
                            <div class="col-lg-12">
                                <input id="file-4" class="file" type="file" multiple=true>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="txtStatus" type="checkbox" class="form-control js-switch-blue" checked/>
                            <label for="txtStatus" class="control-label">Ativar/Inativar Registro</label>
                        </div>

                        <button type="submit" class="btn btn-info">Salvar</button>
                    </form>

                </div>
            </section>


            <section class="panel">
                <header class="panel-heading ">
                    Lista de registros
                    <span class="tools pull-right">
                                    <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                                    <a class="t-close fa fa-times" href="javascript:;"></a>
                                </span>
                </header>
                <table class="table colvis-data-table data-table">
                    <thead>
                    <tr>
                        <th width="5%">&nbsp;</th>
                        <th width="20%">MENU</th>
                        <th width="40%">SUB-MENU</th>
                        <th width="20%">P&Aacute;GINA</th>
                        <th width="5%">AÇÃO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>ADELMAN SOARES ASEVEDO FILHO</td>
                        <td>Ginecologia/Obstetrícia</td>
                        <td>Ginecologia/Obstetrícia</td>
                        <td>
                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

{% endblock %}