<!--[if lt IE 7]>
<p class="browsehappy">Você está usando um navegador <strong>desatualizado</strong>. Por favor, <a href="/http://browsehappy.com/">atualize seu navegador</a>.</p>
<![endif]-->
<!-- sidebar left start-->
<div class="sidebar-left sticky-sidebar">
    <!--responsive view logo start-->
    <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
        <a href="/">
            <img src="/cms/img/logo.png" alt="">
            <!--<i class="fa fa-maxcdn"></i>-->
            <!--<span class="brand-name">SlickLab</span>-->
        </a>
    </div>
    <!--responsive view logo end-->

    <div class="sidebar-left-info">
        <!-- visible small devices start-->
        <div class=" search-field">  </div>
        <!-- visible small devices end-->

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked side-navigation">
            <li>
                <h3 align="center" class="navigation-title">ADMIN</h3>
            </li>
            <li><a href="/painel"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
            <li><a href="/painel/menu"><i class="fa icon-home"></i> <span>MENU</span></a></li>
            <li class="menu-list">
                <a href=""><i class="fa icon-layers"></i><span>P&Aacute;GINAS</span></a>
                <ul class="child-list">
                    <li><a href="/painel/page">P&Aacute;GINA</a></li>
                    <li><a href="/painel/page-details">SE&Ccedil;&Atilde;O DA P&Aacute;GINA</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa icon-layers"></i><span>GALERIAS</span></a>
                <ul class="child-list">
                    <li ><a href="/painel/gallery">CATEGORIA</a></li>
                    <li><a href="/painel/video">GALERIA DE V&Iacute;DEOS</a></li>
                    <li><a href="/painel/img">GALERIA DE IMAGENS</a></li>
                </ul>
            </li>

            <li><a href="/painel/tag"><i class="fa icon-notebook"></i> <span>GOOGLE (S.E.O)</span></a></li>
            <li><a href="/painel/banner"><i class="fa icon-settings"></i> <span>BANNERS</span></a></li>
            <li><a href="/painel/schedule"><i class="fa icon-cup"></i> <span>EVENTOS</span></a></li>
            <li class="menu-list">
                <a href=""><i class="fa icon-layers"></i>  <span>TARIFÁRIO</span></a>
                <ul class="child-list">
                    <li><a href="/painel/tariff">VIGÊNCIA</a></li>
                    <li><a href="/painel/tariff/hotel">HOTEL</a></li>
                    <li><a href="/painel/tariff/hotel/room">QUARTO</a></li>
                </ul>
            </li>

        </ul>
        <!--sidebar nav end-->

    </div>
</div>
<!-- sidebar left end-->