<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="author" content="Mosaddek" />
        <meta name="keyword" content="slick, flat, dashboard, bootstrap, admin, template, theme, responsive, fluid, retina" />
        <meta name="description" content="" />
        <link rel="shortcut icon" href="javascript:;" type="image/png">

        <title>{{ title }}</title>

        {% include partials ~ '-head.twig' %}
</head>