<!-- header section start-->
<div class="header-section">

    <!--logo and logo icon start-->
    <div class="logo dark-logo-bg hidden-xs hidden-sm">
        <a href="/">
            <img src="/cms/img/logo.png" alt="">
            <!--<i class="fa fa-maxcdn"></i>-->
        </a>
    </div>

    <div class="icon-logo dark-logo-bg hidden-xs hidden-sm">
        <a href="/">
            <img src="/cms/img/logo-icon.png" alt="">
            <!--<i class="fa fa-maxcdn"></i>-->
        </a>
    </div>
    <!--logo and logo icon end-->

    <!--toggle button start-->
    <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
    <!--toggle button end-->


    <div class="notification-wrap">



        <!--right notification start-->
        <div class="right-notification">
            <ul class="notification-menu">
                <li>
                    <form class="search-content" action="/" method="post">
                        <input type="text" class="form-control" name="keyword" placeholder="Buscar...">
                    </form>
                </li>

                <li>
                    <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="/cms/img/avatar-mini.jpg" alt="">Jonh Doe
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu purple pull-right">

                        <li>
                            <a href="http://" target="_blank">
                                AJUDA
                            </a>
                        </li>

                        <li>
                            <a href="alterar_senha.html">
                                ALTERAR SENHA
                            </a>
                        </li>

                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> SAIR</a></li>
                    </ul>
                </li>


            </ul>
        </div>
        <!--right notification end-->
    </div>

</div>
<!-- header section end-->

<!-- page head start-->
<div class="page-head">
    <h3 class="m-b-less">HOME</h3>
    <!--<span class="sub-title">Welcome to Static Table</span>-->
    <div class="state-information">
        <ol class="breadcrumb m-b-less bg-less">
            <li><a href="#">Home</a></li>
            <!--<li class="active"> Notícias </li>-->
        </ol>
    </div>

</div>
<!-- page head end-->